.container {
  background-color: #1f2937;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
  padding-right: 500px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  padding: 25px;
  margin-top: 20px;
}

.hero {
  display: inline-flex;
  flex-direction: row;
  background-color: #1f2937;
}
.main-text {
  color: #e5e7eb;
  font-size: 48px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 100px;
  
}

.text {
  color:#e5e7eb;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 100px;
  margin-left: 100px;
}

button {
  background-color: #3882f6;
  color:white;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  

  margin-left: 100px;
  margin-right: 100px;
  
}

.image {
  padding: 100px;
}

.title {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.tile {
  display: flex;
  justify-content: center;
}

.tiles {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 45px;
  margin-bottom: 45px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10%;
}

.quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  font-style: italic;
  background-color: #e5e7eb;
  padding: 45px;
}

.call {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #3882f6;
  border-radius: 10px;
  margin: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.button2 {
  border-style: solid;
  border-color: #f9faf8;
  margin: 10px 10px 10px 300px;

}
.footer {
  display: flex;
  justify-content: center;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 10px;

}



